* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-size: 0.8125rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  display: grid;
  place-items: center;
}

/*****************/
/* TESTIMONIALS */
/*****************/

.testimonials__container {
  max-width: 72rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  margin-inline: auto;
  display: grid;
  gap: 1.5rem;
}

.testimonial {
  color: hsl(217, 19%, 35%);
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 40px 51px 48px -48px rgba(72, 85, 106, 0.294);
}

.testimonial--bg-violet,
.testimonial--bg-gray-blue,
.testimonial--bg-black-blue {
  color: hsl(0, 0%, 100%);
}

.testimonial--bg-violet {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 5% right 10%;
}

.testimonial--bg-gray-blue {
  background-color: hsl(217, 19%, 35%);
}

.testimonial--bg-black-blue {
  background-color: hsl(219, 29%, 14%);
}

.testimonial__header {
  display: flex;
  gap: 1rem;
}

.testimonial__img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 0.125rem solid #9066d2;
}

.testimonial__author p {
  line-height: 1;
}

.testimonial__author span {
  font-size: 0.6875rem;
  opacity: 50%;
}

.testimonial__lead {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-block: 1rem 1.5rem;
}

.testimonial__quote {
  opacity: 70%;
}

/*****************/
/* FOOTER */
/*****************/

.footer-text {
  text-align: center;
  padding-block: 0.5rem;
}
